{% extends "base.html" %}
    {% block content %}

    {% load static %}

    <div class="row">
        <div class="col">
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col text-center"><h2>Mapeo del dolor</h2></div>
    </div>
    <div class="row">
        <div class="col">
            <img class="img-fluid" src="{% static 'images/pain_mapping.png' %}" alt="Palpacion">
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="row justify-content-between">
            <div class="col-4">
                    <div class="row mb-3">
                        <div class="col fw-bold"><span>Lado Derecho</span></div>
                    </div>
                    <div class="row mb-3">
                        <label for="right_side_pain_1" class="form-label">Dolor 1:</label>
                        <input 
                            id="right_side_pain_1"
                            name="right_side_pain_1"
                            type="number" 
                            class="form-control"
                            value="0"
                        >
                    </div>
                <div class="row mb-3">
                    <label for="right_side_pain_2" class="form-label">Dolor 2:</label>
                    <input 
                        id="right_side_pain_2" 
                        name="right_side_pain_2" 
                        type="number" 
                        class="form-control"
                        value="0"
                    >
                </div>
                <div class="row mb-3">
                    <label for="right_side_pain_3" class="form-label">Dolor 3:</label>
                    <input 
                        id="right_side_pain_3" 
                        name="right_side_pain_3" 
                        type="number" 
                        class="form-control"
                        value="0"
                    >
                </div>        
                <div class="row mb-3">
                    <label for="right_side_pain_4" class="form-label">Dolor 4:</label>
                    <input 
                        id="right_side_pain_4" 
                        name="right_side_pain_4" 
                        type="number" 
                        class="form-control"
                        value="0"
                    >
                </div>
                <div class="row mb-3">
                    <label for="right_side_pain_5" class="form-label">Dolor 5:</label>
                    <input 
                        id="right_side_pain_5" 
                        name="right_side_pain_5" 
                        type="number" 
                        class="form-control"
                        value="0"
                    >
                </div>
                <div class="row mb-3">
                    <label for="right_side_pain_6" class="form-label">Dolor 6:</label>
                    <input 
                        id="right_side_pain_6" 
                        name="right_side_pain_6" 
                        type="number" 
                        class="form-control"
                        value="0"
                    >
                </div>
                <div class="row mb-3">
                    <label for="right_side_pain_7" class="form-label">Dolor 7:</label>
                    <input 
                        id="right_side_pain_7" 
                        name="right_side_pain_7" 
                        type="number" 
                        class="form-control"
                        value="0"
                    >
                </div>
                <div class="row mb-5">
                    <label for="right_side_pain_8" class="form-label">Dolor 8:</label>
                    <input 
                        id="right_side_pain_8" 
                        name="right_side_pain_8" 
                        type="number" 
                        class="form-control"
                        value="0"
                    >
                </div>
            </div>
            <div class="col-4">
                    <div class="row mb-3">
                        <div class="col fw-bold"><span>Lado Izquierdo</span></div>
                    </div>
                    <div class="row mb-3">
                        <label for="left_side_pain_1" class="form-label">Dolor 1:</label>
                        <input 
                            id="left_side_pain_1" 
                            name="left_side_pain_1" 
                            type="number" 
                            class="form-control"
                            value="0"
                        >
                    </div>
                    <div class="row mb-3">
                        <label for="left_side_pain_2" class="form-label">Dolor 2:</label>
                        <input 
                            id="left_side_pain_2" 
                            name="left_side_pain_2" 
                            type="number" 
                            class="form-control"
                            value="0"
                        >
                    </div>
                    <div class="row mb-3">
                        <label for="left_side_pain_3" class="form-label">Dolor 3:</label>
                        <input 
                            id="left_side_pain_3" 
                            name="left_side_pain_3" 
                            type="number" 
                            class="form-control"
                            value="0"
                        >
                    </div>
                    <div class="row mb-3">
                        <label for="left_side_pain_4" class="form-label">Dolor 4:</label>
                        <input 
                            id="left_side_pain_4"
                            name="left_side_pain_4"
                            type="number" 
                            class="form-control"
                            value="0"
                        >
                    </div>
                    <div class="row mb-3">
                        <label for="left_side_pain_5" class="form-label">Dolor 5:</label>
                        <input 
                            id="left_side_pain_5" 
                            name="left_side_pain_5" 
                            type="number" 
                            class="form-control"
                            value="0"
                        >
                    </div>
                    <div class="row mb-3">
                        <label for="left_side_pain_6" class="form-label">Dolor 6:</label>
                        <input 
                            id="left_side_pain_6" 
                            name="left_side_pain_6" 
                            type="number" 
                            class="form-control"
                            value="0"
                        >
                    </div>
                    <div class="row mb-3">
                        <label for="left_side_pain_7" class="form-label">Dolor 7:</label>
                        <input 
                            id="left_side_pain_7" 
                            name="left_side_pain_7" 
                            type="number" 
                            class="form-control"
                            value="0"
                        >
                    </div>
                    <div class="row mb-5">
                        <label for="left_side_pain_8" class="form-label">Dolor 8:</label>
                        <input 
                            id="left_side_pain_8" 
                            name="left_side_pain_8" 
                            type="number" 
                            class="form-control"
                            value="0"
                        >
                    </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="form-floating">
                    <textarea class="form-control" id="id_body" placeholder="nota"  name="note" style="height: 15rem"></textarea>
                    <label for="id_body">Nota:</label>
                </div>
            </div>
        </div>
        <input id="id_patient" name="patient" type="hidden" value="{{ patient.id }}">
        <div class="row">
            <div class="col mb-3">
                <button class="btn btn-purple" type="submit">Registrar</button>
            </div>
        </div>
    </form>
    {% endblock %}