{% extends "base.html" %}

{% block content %}
<div class="row form-signin text-center justify-content-center">
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <form method="POST" class="col-4">
        {% csrf_token %}
        <img class="bi me-2"
            src="https://png.pngtree.com/png-clipart/20190924/original/pngtree-dental-logo-design-creative-dentist-logo-dental-clinic-creative-company-png-image_4817208.jpg"
            alt="tooth" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Login</h1>

        <div class="form-floating">
            <input name="username" type="text" class="form-control" id="username" placeholder="username">
            <label for="username">Username</label>
        </div>
        <br>
        <div class="form-floating">
            <input name="password" type="password" class="form-control" id="password" placeholder="password">
            <label for="password">Password</label>
        </div>
        <br>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
        <p class="mt-5 mb-3 text-muted">&copy;{% now 'Y' %} Excelencia en Ortodoncia </p>
    </form>
</div>
{% endblock %}