{% extends "base.html" %}

{% block content %}
<br>
<div class="container">
	<div class="row">
		<div class="col">
			{% if user_deleted_msg %}
			<div class="alert alert-success" role="alert">
				{{ user_deleted_msg }}
			</div>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h1>Admin</h1>
		</div>
		<div class="col text-end">
			<a class="btn btn-success" href="{% url 'all_payments'  %}" role="button">
				Pagos
			</a>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col">
			<h4> Lista de Pacientes:</h4>
			<table class="table table-striped">
				<thead style="background-color: #322232; color: #FFFFFF;">
				<tr>
					<th scope="col">Nombre</th>
					<th scope="col">Numero de telefono</th>
					<th scope="col">Email</th>
				</tr>
				</thead>
				<tbody>
				{% for patient in patients %}
				<tr>
					<th><a href="{% url 'patient_detail' patient.id %}">{{ patient.name }}</a></th>
					<th>{{ patient.phone_number }}</th>
					<th>{{ patient.email }}</th>
				</tr>
				{% endfor %}
				</tbody>
			</table>


		</div>
	</div>
</div>

{% endblock %}