{% extends "base.html" %}

{% block content %}
<br>
<div class="container">
	<div class="row">
		<div class="col">
			{% if user_deleted_msg %}
			<div class="alert alert-success" role="alert">
				{{ user_deleted_msg }}
			</div>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h1>Admin</h1>
		</div>
		<div class="col text-end">
			<a class="btn btn-success" href="{% url 'all_payments'  %}" role="button">
				Pagos
			</a>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col">
			<h4> Lista de Pacientes:</h4>
			<div class="row mb-2 justify-content-end">
				<div class="col-5">
					<form class="d-flex" method="GET">
						<input class="form-control me-2" type="text" name="name" id="id_name" placeholder="Buscar paciente" aria-label="Search" value="{{ search_value }}">
						<!-- {{ patient_filter.form }} -->
						<button class="btn btn-primary" type="submit">Buscar</button>
					</form>
				</div>
			</div>
			<table class="table table-striped">
				<thead style="background-color: #322232; color: #FFFFFF;">
				<tr>
					<th scope="col">Nombre</th>
					<th scope="col">Numero de telefono</th>
					<th scope="col">Email</th>
				</tr>
				</thead>
				<tbody>
				{% for patient in patients %}
				<tr>
					<th><a href="{% url 'patient_detail' patient.id %}">{{ patient.name }}</a></th>
					<th>{{ patient.phone_number }}</th>
					<th>{{ patient.email }}</th>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<!-- Pagination section -->
	<div class="row">
		<div class="col">
			<ul class="pagination">
				{% if patients.has_other_pages %}
					{% if patients.has_previous %}
						<li class="page-item">
							<a class="page-link" href="?page={{ patients.previous_page_number }}">&laquo;</a>
						</li>
					{% else %}
						<li class="page-item disabled">
							<a class="page-link">&laquo;</a>
						</li>
					{% endif %}
				{% endif %}
				{% for i in patients.paginator.page_range %}
					{% if patients.number == i %}
						<li class="page-item active">
							<a class="page-link">{{i}}</a>
						</li>
					{% else %}
					<li class="page-item">
						<a class="page-link" href="?page={{i}}">{{i}}</a>
					</li>
					{% endif %}
				{% endfor %}
					{% if patients.has_next %}
						<li class="page-item">
							<a class="page-link" href="?page={{ patients.next_page_number }}">&raquo;</a>
						</li>
					{% else %}
						<li class="page-item disabled">
							<a class="page-link">&raquo;</a>
						</li>
					{% endif %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}
