{% extends "base.html" %}
    {% block content %}

    {% load static %}

    <div class="row">
        <div class="col">
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col text-center"><h2>Palpacion muscular</h2></div>
    </div>
    
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <img class="img-fluid" src="{% static 'images/right_side.png' %}" alt="Palpacion">
            </div>
            <div class="col align-self-center">
                <div class="row mb-3">
                    <div class="col-3 d-flex justify-content-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="masseter_right" name="masseter_right">
                        </div>
                    </div>
                    <div class="col-6 text-center">
                        <span>Masetero</span>
                    </div>
                    <div class="col-3 d-flex justify-content-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="masseter_left" name="masseter_left">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-3 d-flex justify-content-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="temporalis_right" name="temporalis_right">
                        </div>
                    </div>
                    <div class="col-6 text-center">
                        <span>Temporal</span>
                    </div>
                    <div class="col-3 d-flex justify-content-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="temporalis_left" name="temporalis_left">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-3 d-flex justify-content-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="ecm_right" name="ecm_right">
                        </div>
                    </div>
                    <div class="col-6 text-center">
                        <span>ECM</span>
                    </div>
                    <div class="col-3 d-flex justify-content-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="ecm_left" name="ecm_left">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-3 d-flex justify-content-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="digastric_right" name="digastric_right">
                        </div>
                    </div>
                    <div class="col-6 text-center">
                        <span>Digastrico</span>
                    </div>
                    <div class="col-3 d-flex justify-content-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="digastric_left" name="digastric_left">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-3 d-flex justify-content-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="occipital_right" name="occipital_right">
                        </div>
                    </div>
                    <div class="col-6 text-center">
                        <span>Occipital</span>
                    </div>
                    <div class="col-3 d-flex justify-content-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="occipital_left" name="occipital_left">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-3 d-flex justify-content-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="pc_right" name="pc_right">
                        </div>
                    </div>
                    <div class="col-6 text-center">
                        <span>PC</span>
                    </div>
                    <div class="col-3 d-flex justify-content-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="pc_left" name="pc_left">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-3 d-flex justify-content-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="trapezius_right" name="trapezius_right">
                        </div>
                    </div>
                    <div class="col-6 text-center">
                        <span>Trapecio</span>
                    </div>
                    <div class="col-3 d-flex justify-content-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="trapezius_left" name="trapezius_left">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <img class="img-fluid" src="{% static 'images/left_side.png' %}" alt="Palpacion">
            </div>
        </div>
        <input id="id_patient" name="patient" type="hidden" value="{{ patient.id }}">
        <div class="row mb-3">
            <div class="col">
                <button class="btn btn-purple" type="submit">Registrar</button>
            </div>
        </div>
    </form>
    {% endblock %}