{% extends "base.html" %}

{% block content %}
<h1>Registrar anotacion del paciente:</h1>
<form method="post">
    {% csrf_token %}
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="title" class="form-label">Titulo:</label>
            <input id="title" name="title" type="text" class="form-control" required>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-floating">
                <textarea class="form-control" id="id_body" placeholder="anotacion"  name="body" style="height: 15rem" required></textarea>
                <label for="id_body">Anotacion:</label>
            </div>
        </div>
    </div>
    <input id="id_patient" name="patient" type="hidden" value="{{ patient.id }}">
    <button class="btn btn-purple" type="submit">Registrar anotacion</button>
</form>
{% endblock %}