{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% block content %}
<br>
<div class="container">
	<div class="row">
		<div class="col">
			{% if succes_msg %}
			<div class="alert alert-success" role="alert">
				{{ succes_msg }}
			</div>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h1>Historial anotaciones de: {{ patient.name }}</h1>
		</div>
        <div class="col align-self-center text-end">
            <a class="btn btn-outline-purple" href="{% url 'create_annotation' patient.id %}" role="button">Registrar nueva anotacion</a>
        </div>
	</div>
	<br><br>
	<div class="row">
		<div class="col">
			<h4>Anotaciones:</h4>
			<table class="table table-striped">
				<thead style="background-color: #322232; color: #FFFFFF;">
				<tr>
					<th scope="col">Fecha</th>
					<th scope="col">Titulo</th>
					<th scope="col">Anotacion</th>
					<th cope="col"></th>
				</tr>
				</thead>
				<tbody>
				{% for annotation in patient_annotations %}
				<tr class="align-middle">
					<th>{% language 'es' %}{{ annotation.date }}{% endlanguage %}</th>
					<th>{{ annotation.title }}</th>
					<th>{{ annotation.body }}</th>
					<th class="text-center">
						<button type="button" class="btn btn-danger" data-bs-toggle="modal"
							data-bs-target="#delete-server-{{annotation.id}}">
							Borrar
						</button>
					</th>
				</tr>
				<!-- Modal -->
				<div class="modal fade" id="delete-server-{{annotation.id}}" tabindex="-1"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Borrar?</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p>Atencion!</p>
							<p>esta apunto de borrar la anotacion</p>
							<p>Anotacion: {{ annotation.title }}</p>
							<p>Hecho el: {% language 'es' %}{{ annotation.date }}{% endlanguage %}</p>
						</div>
						<div class="modal-footer">
							<form action="{% url 'delete_annotation' annotation.id patient.id %}"
								method="POST">
								{% csrf_token %}
								<button class="btn btn-danger" type="submit">Eliminar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
				{% endfor %}
				</tbody>
			</table>


		</div>
	</div>
</div>

{% endblock %}
