{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% block content %}
<br>
<div class="container">
	<div class="row">
		<div class="col">
			<h1>Todos los pagos</h1>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col">
			<table class="table table-striped">
				<thead style="background-color: #322232; color: #FFFFFF;">
				<tr>
					<th scope="col">Fecha</th>
					<th scope="col">Paciente</th>
					<th scope="col">Descripcion del procedimiento</th>
					<th scope="col">Pago</th>
					<th scope="col">Mes</th>
				</tr>
				</thead>
				<tbody>
				{% for payment in all_payments %}
				<tr class="align-middle">
					<th>{% language 'es' %}{{ payment.date_of_payment }}{% endlanguage %}</th>
					<th>{{ payment.patient.name }}</th>
					<th>{{ payment.procedure_description }}</th>
					<th>${{ payment.amount|intcomma }}</th>
					<th>{% language 'es' %}{{ payment.date_of_payment|date:"F" }}{% endlanguage %}</th>
				</tr>
				{% endfor %}
				</tbody>
				<tfoot>
					<th>Total</th>
					<th></th>
					<th></th>
					<th>${{ total_payments.amount__sum|floatformat:2|intcomma }}</th>
				</tfoot>
			</table>


		</div>
	</div>
</div>

{% endblock %}
