{% extends "base.html" %}
{% load i18n %}
{% block content %}
<br>
<div class="container">
	<div class="row">
		<div class="col">
			{% if succes_msg %}
			<div class="alert alert-success" role="alert">
				{{ succes_msg }}
			</div>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h1>Historial de Pagos de: {{ user.name }}</h1>
		</div>
        <div class="col align-self-center text-end">
            <a class="btn btn-success" href="{% url 'create_payment' user.id %}" role="button">Registrar nuevo pago</a>
        </div>
	</div>
	<br><br>
	<div class="row">
		<div class="col">
			<h4>Pagos:</h4>
			<table class="table table-striped">
				<thead style="background-color: #6f42c1; color: #FFFFFF;">
				<tr>
					<th scope="col">Fecha</th>
					<th scope="col">Descripcion del procedimiento</th>
					<th scope="col">Pago</th>
					<th scope="col">Mes</th>
				</tr>
				</thead>
				<tbody>
				{% for payment in user_payments %}
				<tr>
					<th>{% language 'es' %}{{ payment.date_of_payment }}{% endlanguage %}</th>
					<th>{{ payment.procedure_description }}</th>
					<th>${{ payment.amount }}</th>
					<th>{% language 'es' %}{{ payment.date_of_payment|date:"F" }}{% endlanguage %}</th>
				</tr>
				{% endfor %}
				</tbody>
				<tfoot>
					<th>Total</th>
					<th></th>
					<th>${{ total_payments.amount__sum|floatformat:2 }}</th>
					<th></th>
				</tfoot>
			</table>


		</div>
	</div>
</div>

{% endblock %}
