{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="row">
    <div class="col">
        <h1>Examen ortodontico creado el {% language 'es' %}{{ orthodontic.created_at }}{% endlanguage %}</h1>
    </div>
</div>
<form method="post">
    {% csrf_token %}
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="facial_profile" class="form-label">Perfil facial:</label>
            <input  id="facial_profile" 
                    name="facial_profile" 
                    type="text" 
                    class="form-control" 
                    readonly
                    value="{{ orthodontic.facial_profile }}"
            >
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="molar_class" class="form-label">Clase molar:</label>
            <input  id="molar_class" 
                    name="molar_class" 
                    type="text" 
                    class="form-control" 
                    readonly
                    value="{{ orthodontic.molar_class }}"
            >
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="canine_class" class="form-label">Clase canina:</label>
            <input  id="canine_class" 
                    name="canine_class" 
                    type="text" 
                    class="form-control" 
                    readonly
                    value="{{ orthodontic.canine_class }}"
            >
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="crossbite" class="form-label">Mordida cruzada:</label>
            <input  id="crossbite" 
                    name="crossbite" 
                    type="text" 
                    class="form-control" 
                    readonly
                    value="{{ orthodontic.crossbite }}"
            >
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-6">
            <label for="habits" class="form-label">Habitos:</label>
            <input  id="habits" 
                    name="habits" 
                    type="text" 
                    class="form-control" 
                    readonly
                    value="{{ orthodontic.habits }}"
            >
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-6">
            <div class="form-floating">
                <textarea class="form-control" id="id_body"  name="note" style="height: 15rem" readonly>{{ orthodontic.note }}</textarea>
                <label for="id_body">Nota:</label>
            </div>
        </div>
    </div>
</form>
{% endblock %}